<div class="text-center h-72 grid grid-row-2 gap-4 content-around">
  <div class="text-right">
    +4917641772297
  </div>
  <div>
    <h5
      class="row-span-6 text-lg sm:text-2xl md:text-4xl font-extrabold mb-2 text-black"
    >
      Vladimir Hristian Сантехник в Германии
    </h5>
    <button
      class="bg-blue-500
    text-white
    active:bg-blue-600
    font-bold
    uppercase
    text-sm
    px-6
    py-3
    rounded
    shadow
    hover:shadow-lg
    outline-none
    focus:outline-none
    mr-1
    mb-1
    ease-linear
    transition-all
    duration-150"
      type="button"
    >
      learn more
    </button>
    <button
      class="bg-blue-500
    text-white
    active:bg-blue-600
    font-bold
    uppercase
    text-sm
    px-6
    py-3
    rounded
    shadow
    hover:shadow-lg
    outline-none
    focus:outline-none
    mr-1
    mb-1
    ease-linear
    transition-all
    duration-150"
      type="button"
    >
      learn more
    </button>
  </div>
</div>