  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4  gap-4 lg:gap-6 lg:gap-8 mt-5 md:mt-8"
  >
    <LinkTo @route="services.heater"
      class="flex flex-col h-60 hover:shadow-2xl transition hover:duration-300 rounded-lg bg-white shadow-lg border-r border-b border-l border-gray-50"
    >
      <img
        class="w-full h-40 object-cover rounded-t-lg"
        src="/images/catelinaia2.jpg"
        alt="cateol"
      />
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Установка котлов отопления
        </h5>
      </div>
    </LinkTo>
    <LinkTo @route="services.plumbing"
      class="flex flex-col h-60 hover:shadow-2xl transition hover:duration-300 rounded-lg bg-white shadow-lg border-r border-b border-l border-gray-50"
    >
      <img
        class="w-full h-40 object-cover rounded-t-lg"
        src="/images/0-02-05-fc22c8c05ce32bc3b8a39d9803b2813f093d79907c8eddfb1933d43fe7a546c0_5abd13da815c56cd.jpg"
        alt="cateol"
      />
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Установка cантехники
        </h5>
      </div>
    </LinkTo>
    <LinkTo @route="services.solar"
      class="flex flex-col h-60 hover:shadow-2xl transition hover:duration-300 rounded-lg bg-white shadow-lg border-r border-b border-l border-gray-50"
    >
      <img
        class="w-full h-40 object-cover rounded-t-lg"
        src="/images/0-02-05-f49ba68028333f55579207c5f7eed81184557e297c4dbbf6db6bff8e1bc0e155_3e35d5b6d56a2ad2.jpg"
        alt="cateol"
      />
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Установка солнечных панелей
        </h5>
      </div>
    </LinkTo>
    <LinkTo @route="services.pipes"
      class="flex flex-col h-60 hover:shadow-2xl transition hover:duration-300 rounded-lg bg-white shadow-lg border-r border-b border-l border-gray-50"
    >
      <img
        class="w-full h-40 object-cover rounded-t-lg"
        src="/images/0-02-05-23e1f5aa4f1130911932afd1c35c5d05807bb33a3af7896d273a0673ac85c3b4_7387b7cf85c35b0c.jpg"
        alt="cateol"
      />
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Установка труб воды и канализации
        </h5>
      </div>
    </LinkTo>
  </div>