<div class="m-4 md:m-6">
  <div class="grid grid-cols-1 md:grid-cols-12 lg:grid-cols-12">
    <div class="md:col-span-6 lg:col-span-7 flex flex-col justify-start">
      <h4 class="text-gray-900 text-2xl font-bold mb-2">
       Установка котлов отопления
      </h4>
      Правильный монтаж системы отопления в доме – задача непростая и крайне важная, ведь от того, будет ли тепло в Вашем доме зависит и Ваше здоровье, и Ваш семейный уют. Много людей делают попытки произвести установку котла, установку труб или  монтаж всей системы отопления дома самостоятельно, как правило, пытаясь сэкономить на материалах и тепловых расчетах, наивно полагая,  что интернет или опытные товарищи подскажут правильные решения. Система отопления дома должна выполнять свои функции как минимум 15-20 лет, а, к сожалению, ошибки, допущенные при монтаже будут видны только после начала эксплуатации дома и иногда потребителям приходится тратить в два раза больше денег на последующие ремонты и изменения отопительной системы.
      <h5 class="text-gray-900 text-xl font-medium my-2 flex flex-row">
        - Установка котлов
      </h5>
      <p class="mb-2">
        Выполнение работ по монтажу, частичному ремонту и замене котлов — очень сложное и деликатное
         дело, требует высоких профессиональных навыков и опыта. Это наш гарант продуктивно и
          качественно выполнения работы.
      </p>
      <h5 class="text-gray-900 text-xl font-medium my-2 flex flex-row">
        - Замена и установка батареи, радиатора отоплени
      </h5>
      <p class="mb-2">
        Мы поможем сделать аккуратный демонтаж старых батарей и произведем установку батарей
        отопления на ваш выбор. Так же проложим все необходимые теплокоммуникации, трубы
        отопления, перекрывающие краны и так далее.
      </p>
    </div>
    <div class="md:col-span-6 lg:col-span-5">
      <Slideshow
      @image1="/images/catelinaia2.jpg"
      @image2="/images/podea2.jpg"
      @image3="/images/cateol.jpg"
      />
    </div>
  </div>
</div>