<div class="m-4 md:m-6">
  <div class="grid grid-cols-1 md:grid-cols-12">
    <div class="md:col-span-8 flex flex-col justify-start">
      <h4 class="text-gray-900 text-2xl font-bold mb-2">
       Установка котлов отопления
      </h4>
      <h5 class="text-gray-900 text-xl font-medium my-2 flex flex-row">
        - Установка котлов
      </h5>
      <p class="mb-2">
        Выполнение работ по монтажу, частичному ремонту и замене котлов — очень сложное и деликатное
         дело, требует высоких профессиональных навыков и опыта. Это наш гарант продуктивно и
          качественно выполнения работы.
      </p>
      <h5 class="text-gray-900 text-xl font-medium my-2 flex flex-row">
        - Замена и установка батареи, радиатора отоплени
      </h5>
      <p class="mb-2">
        Мы поможем сделать аккуратный демонтаж старых батарей и произведем установку батарей
        отопления на ваш выбор. Так же проложим все необходимые теплокоммуникации, трубы
        отопления, перекрывающие краны и так далее.
      </p>
    </div>
    <div class="md:col-span-4">
      <Slideshow
      @image1="/images/catelinaia2.jpg"
      @image2="/images/podea2.jpg"
      @image3="/images/cateol.jpg"
      />
    </div>
  </div>
</div>