<div class="m-4 md:m-6">
  <div class="w-full">
    <div class="flex flex-row">
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Сантехнические Работы
        </h5>
      </div>
    </div>
  </div>
  <WorkExample />
</div>
