<div class="m-4 md:mx-10 mb-10">
  <div class="px-6">
    <WorkExample />
  </div>
  <div class="w-full">
    <div
      class="flex flex-col rounded-lg bg-white shadow-lg border mt-5 md:mt-12 border-gray-50"
    >
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Поможет
            установить причину протеканий, быстро и качественно устранит
            проблемы!
        </h5>
        <p class="text-gray-700 text-base mb-4">
          Сантехник – профессионал располагает современным оборудованием для
            устранения аварий, поломок разной степени сложности. Поможет
            установить причину протеканий, быстро и качественно устранит
            проблемы, наладит работу труб, заменит смеситель в кухне, ванной,
            починит бачок, прочистит стоки, заменит трубы. Демонтирует старую
            ванную, душевую кабинку, смонтирует, установит, подключит новую.
            Подключит стиральную машинку в систему водоснабжения.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div
      class="flex flex-col rounded-lg bg-white shadow-lg border mt-5 md:mt-8 border-gray-50"
    >
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Проблемы с трубами решаются в короткий срок!
        </h5>
        <p class="text-gray-700 text-base mb-4">
          Мастер водопроводчик – профессионал с комплектом современного оборудования качественно
        заменит смесители, починит водопроводные, канализационные трубы в случае протекания. Поможет
        выявить неисправности в системе канализации, водопровода. Мастерски быстро починит неполадки,
        установит сантехнику, починит бачок и краны. Соберет, установит душевую кабинку, подключит
         смесители в ванной. Качественно подключит к водопроводу и системе стоков стиральную машинку.
          Демонтирует старую сантехнику, проконсультирует в выборе новой.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full">
    <div
      class="flex flex-col rounded-lg bg-white shadow-lg border mt-5 md:mt-8 border-gray-50"
    >
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Вызов сантехника на дом!
        </h5>
        <p class="text-gray-700 text-base mb-4">
          Все сантехнические
            предметы перестают со временем исправно работать. Так, могут
            появляться течь, которые, как правило, являются главной
            причиной бытовых проблем. Благодаря услугам хорошего специалиста
            устраняются даже самые серьезные неполадки, и осуществляются
            процедуры по предупреждению новых. Так, услуги сантехника в Германии
            необходимы во время ремонтных работ сантехнических предметов либо их
            установке. Грамотно осуществленные работы по сантехнике являются
            гарантом домашнего спокойствия.
        </p>
      </div>
    </div>
  </div>
</div>