<div class="mx-4 md:mx-6">
  <div class="w-full">
    <div class="flex flex-row">
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium">
          Перечень Работ
        </h5>
      </div>
    </div>
  </div>
  <WorkExample />
  <div class="flex flex-col mt-5">
    <div class="flex flex-col">
      <h5 class="text-gray-900 text-xl font-medium mb-2">
        <ul class="flex flex-col">
          <li>
           - Замена и установка батареи, радиатора отоплени
          </li>
          <li>
            - Установка котлов
          </li>
          <li>
            - Установка труб воды и канализации
          </li>
          <li>
            - Установка, монтаж и подключение ванны
          </li>
          <li>
            - Установка смесителя и слива
          </li>
          <li>
            - Установка унитаза
          </li>
          <li>
            - Подключение стиральной машины
          </li>
          <li>
            - Установка бойлера
          </li>
          <li>
            - Установка мойки
          </li>
          <li>
            - Установка счетчиков воды
          </li>
          <li>
            - Установка теплого пола
          </li>
          <li>
            - Установка солнечных панелей
          </li>
        </ul>
      </h5>
    </div>
  </div>
</div>