<div class="m-4 md:m-6">
  <div class="w-full">
    <div class="flex flex-row">
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-medium mb-2">
          Установка труб воды и канализации
        </h5>
        <p>
          Ремонт стояка работа исключительно для опытного и профессионального сантехника. Существует много аспектов которые необходимо учесть, в свое время стояк устанавливался из одного материала во всех квартирах дома, а мы же хотим произвести замену стояка лишь на одном участке и с иными, более современными материалами, это требует определенного подхода. Так же грубая замена стояка, не правильный демонтаж может привести к разрушению труб соседей, особенно если учесть тот факт что они уже были не в идеальном состоянии.
        </p>
      </div>
    </div>
  </div>
  <div class="mx-5">
    <Slideshow
      @image1="/images/0-02-05-ef1bf32c0b892f2ca097612445357dad375ecfba6a0dce262552b9e0afd7493c_19694f869654cca0.jpg"
      @image2 ="/images/raspredeliteli.jpg"
      @image3="/images/0-02-05-23e1f5aa4f1130911932afd1c35c5d05807bb33a3af7896d273a0673ac85c3b4_7387b7cf85c35b0c.jpg"

    />
  </div>
</div>