<div class="m-4 md:m-6 mb-10">
  <div class="grid grid-cols-1 md:grid-cols-12">
    <div class="md:col-span-8 flex flex-col justify-start">
      <h4 class="text-gray-900 text-2xl font-bold mb-2">
        Установка cантехники
      </h4>
      <h5 class="text-gray-900 text-xl font-medium my-2 flex flex-row">
        - Установка, монтаж и подключение ванны
      </h5>
      <p class="mb-2">
        Если решились на обновление санузла, делаете ремонт, мы всегда готовы помочь. Установка
          ванной не такой уж и сложный процесс, но все же со своими нюансами. В случае если монтаж
          ванной выполнен любителем, во время эксплуатации могут появляться потеки, грибок в плоть до
           затопления соседей снизу.
      </p>
      <h5 class="text-gray-900 text-xl font-medium my-2 flex flex-row">
        - Установка смесителя
      </h5>
      <p class="mb-2">
        Душевые кабины становятся все более популярны и даже можно сказать постепенно вытесняют
          привычные нам ванны. Душ кабины, как правило, занимают меньше места да и затраты по воде
           менее значительны. Установка душевой кабины требует больше времени и квалификация сантехника должна быть высока.
      </p>
    </div>
    <div class="md:col-span-4">
      <Slideshow
        @image1="/images/shower2.jpg"
        @image2="/images/vana.jpg"
        @image3="/images/toilet.jpg"
        @image4="/images/lavuar.jpg"
        @image5="/images/0-02-05-85977fa9e0c7bde4a7d9939a4061991ebc5bcbbfe6c9a309759acc21120fc296_506c508cfab5ce84.jpg"
      />
    </div>
  </div>
</div>