<div class="m-4 md:m-6 mb-10 md:mx-10">
  <div class="w-full">
    <div class="flex flex-row">
      <div class="p-6 flex flex-col justify-start">
        <h5 class="text-gray-900 text-xl font-bold mb-2">
          Установка солнечных панелей
        </h5>
        <p>
          Установка солнечных батарей на крыше – это оптимальное решение, поскольку именно на крыше
          удобнее всего ловить максимум солнечной энергии. Очень важно, чтобы расположение вашего
          дома было сделано так, чтобы максимизировать получение солнечной энергии. Например,
           на крыше не должно быть никаких дополнительных устройств. Также, деревья должны не перекрывать солнечные лучи на крыше.   </p>
      </div>
    </div>
  </div>
  <div class="mx-5">
    <Slideshow
      @image1="/images/5f295702c6b7d.jpeg"
      @image2="/images/catelinaia3.jpg"
      @image3="/images/solar-panels-943999__480.jpeg"
      @image4="/images/0-02-05-cf48c066cdc7d571ee48098826b6ea8d65847f7a30dce566acec439ccdf0a914_d53a9d45a086d71a.jpg"
      @image5="/images/solar-panels-944002__480.jpeg"
    />
  </div>
</div>