<NavBar />
<div class='relative'>
  <Banner />
  <RichIndex />
  <RichPerson />
  <div class='mb-10 md:mb-16 mt-2 md:mx-4'>
    <div class='w-full'>
      <div class='flex flex-row'>
        <div class='p-6 flex flex-col justify-start'>
          <h5 class='text-gray-900 text-md md:text-xl font-medium mb-2'>
            <ul>
              <li class='flex flex-row'>
                <div class='text-green-500 mr-2'>
                  ✓
                </div>
                Выполню сантехнические работы на самом высоком уровне качества.
              </li>
              <li class='flex flex-row'>
                <div class='text-green-500 mr-2'>
                  ✓
                </div>
                Имею большой опыт монтажа самого разнообразного оборудования.
              </li>
              <li class='flex flex-row'>
                <div class='text-green-500 mr-2'>
                  ✓
                </div>
                Использую только лучшие материалы, инструмент и оборудование.
              </li>
              <li class='flex flex-row'>
                <div class='text-green-500 mr-2'>
                  ✓
                </div>
                Предлагаю самые выгодные расценки на сантехнические работы для
                своих клиентов.
              </li>
              <li class='flex flex-row'>
                <div class='text-green-500 mr-2'>
                  ✓
                </div>
                Выполню работу по всей Германии.
              </li>
            </ul>
          </h5>
        </div>
      </div>
    </div>
    <div class='px-6'>
      <WorkExample />
      <div class='flex justify-start mt-7'>
        <div
          class='bg-white rounded-lg border border-gray-200 w-full text-md md:text-lg mt-7'
        >
          <div class='grid grid-cols-1 md:grid-cols-2'>
            <ul>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.heater'
                >
                  Замена и установка батареи, радиатора отоплени
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.heater'
                >
                  Установка котлов
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.pipes'
                >
                  Установка труб воды и канализации
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.plumbing'
                >
                  Установка, монтаж и подключение ванны
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.plumbing'
                >
                  Установка смесителя и слива
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.plumbing'
                >
                  Установка унитаза
                </LinkTo>
              </li>
            </ul>
            <ul>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.plumbing'
                >
                  Подключение стиральной машины
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.heater'
                >
                  Установка бойлера
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.plumbing'
                >
                  Установка мойки
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.pipes'
                >
                  Установка счетчиков воды
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.heater'
                >
                  Установка теплого пола
                </LinkTo>
              </li>
              <li class='mt-2'>
                <LinkTo
                  class='block px-6 py-2 border-b border-gray-200 w-full hover:text-blue-600 text-sky-600 focus:outline-none focus:ring-0 transition duration-500'
                  @route='services.solar'
                >
                  Установка солнечных панелей
                </LinkTo>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>